
header {
    margin: 0 8rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
}

.img-logo {
    height: auto;
    width: 4rem;
}

.header-links {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.24rem;
    text-decoration: none;
    color: #FEE715;
}

.hamburger-link {
    text-decoration: none;
    color: #101820;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu-input {
    display: none;
}

.hamburger-links {
    display: none;
}

@media only screen and (max-width: 600px) {
    .hamburger-menu {
        display: block;
        background: #FEE715;
        height: 3rem;
        width: 3rem;
        mask-image: url(../images/icons/Hamburger_icon.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        -webkit-mask-image: url(../images/icons/Hamburger_icon.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;
    }
    .header-links {
        display: none;
    }
    .hamburger-menu-input:checked + header .hamburger-links + .img-logo + .header-links + .hamburger-menu {
        mask-image: url(../images/icons/x.svg);
        -webkit-mask-image: url(../images/icons/x.svg);
        mask-size: contain;
        -webkit-mask-size: contain;
    }
    .hamburger-menu-input:checked + header .hamburger-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        right: 4rem;
        top: 10rem;
        height: auto;
        width: calc(100vw - 8rem);
        background-color: #FFFFFF;
    }
    .hamburger-menu-input:checked + header .hamburger-links + .img-logo {
        opacity: 0;
    }
    .hamburger-menu-input:checked + header + .hero, .hamburger-menu-input:checked + header + .hero + .belowthefold, .hamburger-menu-input:checked + header + .hero + .belowthefold + footer {
        display: none;
    }
}