html {
    font-size: 14px;
}

body {
    background-color: #101820;
    overflow: scroll;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.24rem;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 1rem;
}

h4 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 1rem;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.62rem;
}

.belowthefold {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
}

/* Tablet View */
@media only screen and (max-width: 1100px) {
    .reverse {
        flex-direction: column-reverse;
    }
}

/* Mobile View */
@media only screen and (max-width: 600px) {
    .reverse {
        flex-direction: column-reverse;
    }
}