html {
    font-size: 14px;
}

body {
    background-color: #101820;
    overflow: scroll;
}

.color-primary {
    color: #101820;
}

.color-secondary {
    color: #FFFFFF;
}

.color-accent {
    color: #FEE715;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.24rem;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 1rem;
}

h4 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 1rem;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.62rem;
}

/* Header Styles */
header {
    margin: 0 4rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
}

.hero {
    margin: 0 4rem;
    display: grid;
    width: calc(100vw - 8rem);
    grid-column-gap: 1rem;
    grid-template-rows: 15rem calc(100vh - 15rem - 12rem - 5rem) 12rem;
    grid-template-columns: 2fr 2fr 1fr 2fr;
    grid-template-areas: "nameprof nameprof mockups mockups"
                         "cta cta mockups mockups"
                         "hero-degree hero-experience whoami whoami";
}

.img-logo {
    height: auto;
    width: 4rem;
}

.header-links {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.24rem;
    text-decoration: none;
    color: #FEE715;
}

.hamburger-link {
    text-decoration: none;
    color: #101820;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu-input {
    display: none;
}

.hamburger-links {
    display: none;
}

.intro {
    grid-area: nameprof;
    width: auto;
    height: auto;
    align-self: center;
}

/* Title Styles */
.firstname {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 6rem;
    color: #FFFFFF;
    margin-right: 2vw;
}

.lastname {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    color: #FFFFFF;
}

.uxui {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 100;
    font-size: 3rem;
    line-height: 3rem;
    color: #FFFFFF;
    margin-right: 1vw;
}

.developer {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 100;
    font-size: 2rem;
    color: #FFFFFF;
}

/* Mockup Styles */

.mockups {
    grid-area: mockups;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "mockup1 mockup2";
    height: auto;
    align-self: center;
    justify-self: flex-end;
}

.mockup1 {
    width: auto;
    height: auto;
    max-height: 20rem;
    grid-area: mockup1;
    justify-self: flex-end;
    align-self: flex-start;
}

.mockup2 {
    width: auto;
    height: auto;
    max-height: 20rem;
    grid-area: mockup2;
}

.cta {
    grid-area: cta;
    align-self: center;
    justify-self: flex-start;
    background-color: #FEE715;
    color: #101820;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.24rem;
}

.degree {
    grid-area: hero-degree;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: flex-start;
    width: auto;
}

.gt-logo {
    width: 12rem;
}

.degree-description {
    color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 100;
    font-size: 2.5rem;
}

.experience {
    grid-area: hero-experience;
    align-self: center;
    justify-self: flex-start;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "casestudies programming";
}

#casestudies {
    grid-area: casestudies;
}

#programming {
    grid-area: programming;
}

.exp-div {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 3rem 4rem;
    grid-template-areas: "exp-img exp-img"
                         "exp-num exp-desc";
}

.exp-img {
    grid-area: exp-img;
    width: 6rem;
    align-self: center;
    filter: invert(1.0);
}

.exp-num {
    grid-area: exp-num;
    margin: 0;
    color: #FFFFFF;
}

.exp-desc {
    grid-area: exp-desc;
    color: #FFFFFF;
}

.whoami {
    max-width: 30rem;
    justify-self: flex-start;
    grid-area: whoami;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "wai-title wai-icons"
                         "wai-description wai-description";
}

.whoami-title {
    grid-area: wai-title;
    margin: auto 0;
}

.whoami-desc {
    grid-area: wai-description;
}

.skills-icons {
    grid-area: wai-icons;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.skill-icon {
    filter: invert(1.0);
    width: auto;
    height: 2rem;
    margin: auto;
}

.belowthefold {
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
}

.heading-casestudies {
    color: #FFFFFF;
}

.case-study {
    display: inline-block;
    width: 90vw;
    margin-top: 1vw;
}

.case-study-img {
    display: inline-block;
    width: 43vw;
    border-radius: 20px;
    vertical-align: middle;
}

.case-study-text {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 4vw 8vw;
    width: 28vw;
}

.case-study-title {
    color: #FEE715;
}

.case-study-desc {
    color: #FFFFFF;
}

.heading-skills {
    color: #FFFFFF;
}

.skills-img {
    position: relative;
    display: inline-block;
    width: 6vw;
    top: 2vw;
}

.skills-subsection {
    display: inline-block;
    width: 24vw;
    margin: 0 1vw;
    color: #FFFFFF;
    vertical-align: top;
}

.skills-subsection-title {
    margin: 0;
    height: 40px;
    vertical-align: top;
}

.letsconnect {
    vertical-align: middle;
    margin-top: 5vw;
    height: 15vw;
}

.heading-letsconnect {
    color: #FFFFFF;
    float: left;
}

.letsconnect-link {
    float: right;
    margin-top: 4vw;
    margin-left: 2vw;
}

.letsconnect-img {
    height: 2vw;
    width: 2vw;
}

.letsconnect-title {
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
}

#img-github {
    filter: invert(1.0);
}

footer {
    background-color: #FFFFFF;
    height: 50vw;
}

.footer-links {
    display: block;
    height: 44vw;
    width: 100vw;
}

#social {
    display: inline-block;
    position: relative;
    vertical-align: top;
    left: 5vw;
    top: 5vw;
}

#contact {
    display: inline-block;
    position: relative;
    left: 15vw;
    top: 5vw;
    vertical-align: top;
}

#credits {
    display: inline-block;
    position: relative;
    left: 25vw;
    top: 5vw;
    vertical-align: top;
}

.footer-heading {
    color: #101820;
    margin: 0;
}

.footer-link {
    text-decoration: none;
    color: #101820;
}

.footer-link-text {
    margin: 0;
}

.footer-email {
    display: block;
    position: relative;
    left: 5vw;
}

.footer-social {
    display: inline-block;
    position: relative;
    left: 30vw;
    top: -5vw;
}

.footer-copyright {
    display: inline-block;
    position: relative;
    bottom: 5vw;
    left: 40vw;
}

.footer-social-link {
    display: inline-block;
    margin: 0 2vw;
    height: 3vw;
    text-decoration: none;
}

.footer-social-img {
    height: 3vw;
    width: 3vw;
}

/* Tablet View */
@media only screen and (max-width: 1000px) {
    .hero {
        display: grid;
        grid-template-rows: 15rem calc(100vh - 15rem - 15rem - 5rem) 15rem 15rem 15rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "nameprof nameprof"
                             "mockups mockups"
                             "cta cta"
                             "hero-degree hero-experience"
                             "whoami whoami";
    }
    .cta {
        justify-self: center;
    }
    .degree {
        justify-self: center;
    }
    .experience {
        align-self: center;
        justify-self: center;
    }
    .whoami {
        justify-self: center;
    }
    .mockups {
        justify-self: center;
    }
    .mockup1 {
        width: auto;
        height: calc(100vh - 15rem - 10rem - 5rem - 2rem);
        justify-self: flex-end;
        align-self: center;
    }
    .mockup2 {
        width: auto;
        height: calc(100vh - 15rem - 10rem - 5rem - 2rem);
        align-self: center;
    }
    .intro {
        align-self: center;
        text-align: center;
        margin: 0 auto;
    }
}

/* Mobile View */
@media only screen and (max-width: 600px) {
    .hero {
        display: grid;
        grid-template-rows: 20rem calc(100vh - 20rem - 5rem - 8rem) 8rem 25rem 15rem 20rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
                             "nameprof"
                             "mockups"
                             "cta"
                             "hero-degree"
                             "hero-experience"
                             "whoami"
    }
    .whoami {
        display: grid;
        justify-content: center;
        grid-template-rows: 5rem auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
                             "wai-icons"
                             "wai-title"
                             "wai-description"
    }
    .hamburger-menu {
        display: block;
        background: #FEE715;
        height: 3rem;
        width: 3rem;
        mask-image: url(../images/icons/Hamburger_icon.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        -webkit-mask-image: url(../images/icons/Hamburger_icon.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;
    }
    .header-links {
        display: none;
    }
    .hamburger-menu-input:checked + header .hamburger-links + .img-logo + .header-links + .hamburger-menu {
        mask-image: url(../images/icons/x.svg);
        -webkit-mask-image: url(../images/icons/x.svg);
        mask-size: contain;
        -webkit-mask-size: contain;
    }
    .hamburger-menu-input:checked + header .hamburger-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        right: 4rem;
        top: 10rem;
        height: auto;
        width: calc(100vw - 8rem);
        background-color: #FFFFFF;
    }
    .hamburger-menu-input:checked + header .hamburger-links + .img-logo {
        opacity: 0;
    }
    .hamburger-menu-input:checked + header + .hero, .hamburger-menu-input:checked + header + .hero + .belowthefold, .hamburger-menu-input:checked + header + .hero + .belowthefold + footer {
        display: none;
    }
    .skills-icons {
        grid-gap: 2rem;
    }
    .mockup1 {
        width: auto;
        height: calc(100vh - 20rem - 5rem - 8rem - 5rem);
    }
    .mockup2 {
        width: auto;
        height: calc(100vh - 20rem - 5rem - 8rem - 5rem);
    }
    .intro {
        align-self: center;
        text-align: center;
        max-width: 20rem;
        justify-self: center;
    }
}